.btn:hover {  
    background-color: rgb(0, 166, 255);    
    

}
.nav{
    margin-left: 0.5cm;
    margin-top: 0.5cm;
}
.tab-content{
    margin-left: 0.5cm;
    margin-top: 0.5cm;
}
.mb-3{
    border-bottom: 90cap;
}